
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="action-bar add-shadow pull-right">
    <div class="action-header"></div>
    <div class="action-body"></div>
</div>


<div class="col-sm-3 filter-wrapper sidebar">
    @Html.Partial("Sidebar")
</div>

<div class="row col-sm-9 articles-wrapper">
    @Html.Partial("_AdminData", (ViewBag.models as List<LazyNews.Core.Models.NewsEntry>))
</div>

<div id="Modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='ModalContent'></div>
        </div>
    </div>
</div>





@section scripts{
    <script src="~/Scripts/lazyLoading.js"></script>
    <script src="~/Scripts/modal.js"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script type="text/javascript">
        var url = window.location.href;
        $(window).scroll(scrollHandler);

        showmodal(url);

        jQuery(document).ready(function () {

            jQuery("time.timeago").timeago();
        });

        $(window).scroll(function () {
            $(".action-bar").css("top", $(document).scrollTop() + 70).delay(5);
        });
        
     
    </script>
    <script>
        function Categorize(id, category) {

            //var $buttonClicked = $(this);
            //var id = $buttonClicked.attr('data-id');

            $.ajax({
                type: 'GET',
                url: window.location.href + "/Categorize",
                data: { category: category, id: id },

                success: function (returnValue, textstatus) {
                    if (returnValue != '' && returnValue != null) {
                        //debugger
                        //alert(returnValue.Headline + " " + returnValue.Id);
                        //$(".action-header").removeData();
                        //$(".action-body").removeData();
                        //$(".action-bar").css("top", $(document).scrollTop() + 70);
                        $(".action-bar").stop(true, true);
                    
                        $(".action-header").html("Id: " + id);
                        $(".action-body").html(returnValue + "<div class='action-bar-body'>Added with category: " + category + "</div>");
                        $(".action-bar").show(200);
                        $(".action-bar").delay(2000);
                        $(".action-bar").hide(500);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    </script>
}




